@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

body {
  min-height: 100vh;
  background: #f5d9d5;
  font-family: "Nunito", sans-serif;
  color: #f498b8;
  
}

.navbar {
  font-weight: 300;
  &-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
    text-transform: uppercase;
    &:hover{
      color: #EA1C2C;
    }
  &-toggler{
    color: #fff;
  }
}
}

.nav-link{
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  &:hover{
    color: #EA1C2C;
  }
}

h2 {
  color: #EA1C2C;
}

.content {
  margin: 100px 0;
}